<dl class="text-custom">
    <dt>Username: </dt>
    <dd>{{username}}</dd>
    <dt>First Name: </dt>
    <dd>{{firstName}}</dd>
    <dt>Last Name: </dt>
    <dd>{{lastName}}</dd>
    <dt>profession: </dt>
    <dd>{{profession}}</dd>
    <dt>bio: </dt>
    <dd>{{bio}}</dd>
</dl>

<a href="/logout">logout</a>